@keyframes left-to-right {
   from {
      transform: translate(-500%);
   }

   to {
      transform: translate(0);
   }
}

@keyframes right-to-left {
   from {
      transform: translate(500%);
   }

   to {
      transform: translate(0);
   }
}

@keyframes around-item-one {
   ftom,
   to {
      transform: translate(0);
   }

   25% {
      transform: translate(0, 100%) scale(0.5);
   }
   50% {
      transform: translate(130%, 100%) scale(0.5);
   }
   75% {
      transform: translate(130%, 0%) scale(0.5);
   }

   100% {
   }
}
@keyframes around-item-two {
   ftom,
   to {
      transform: translate(0) scale(0.5);
   }
   25% {
      transform: translate(-130%, 0%);
   }
   50% {
      transform: translate(-130%, 100%) scale(0.5);
   }
   75% {
      transform: translate(0, 100%) scale(0.5);
   }

   100% {
      transform: scale(0.5);
   }
}
@keyframes around-item-three {
   ftom,
   to {
      transform: scale(0.5);
   }

   25% {
      transform: translate(130%, 0) scale(0.5);
   }
   50% {
      transform: translate(130%, -100%) scale(0.5);
   }
   75% {
      transform: translate(0%, -100%);
   }

   100% {
      transform: translate(0) scale(0.5);
   }
}
@keyframes around-item-four {
   ftom,
   to {
      transform: scale(0.5);
   }

   25% {
      transform: translate(0, -100%) scale(0.5);
   }
   50% {
      transform: translate(-130%, -100%);
   }
   75% {
      transform: translate(-130%, 0) scale(0.5);
   }

   100% {
      transform: scale(0.5);
   }
}

@keyframes img-text {
   from,
   to,
   0% {
      padding: 0;
      
   }

   10% {
      padding: 5px 0;
   }

   20% {
      padding: 7px 0;
   }

   30% {
      padding: 12px 0;
   }
   40% {
      padding: 17px 0;
   }
   50% {
      padding: 21px 0;
   }

   60%{
      padding: 25px 0;
   }
   70%{
      padding: 28px 0;
   }
   80%{
      padding: 30px 0;
   }
   90%{
      padding: 35px 0;
   }
   100%{
      padding: 38px 0;
   }


}
