@import url(../css/media.css);
@import url(../css/animation.css);
@import url(../css/normalize.css);
@import url("https://fonts.googleapis.com/css2?family=Rosario:ital,wght@1,600;1,700&family=Volkhov&display=swap");

:root {
   --font-Rosario-it: "Rosario", sans-serif;
   --font-Volkhov-reg: "Volkhov", serif;
   --header-bg: #000;
   --link-color: #fffcfc;
   --bg-input: #e5e5e5;
   font-size: 10px;
}

*::after,
*::before {
   margin: 0;
   padding: 0;
   border: none;
   box-sizing: border-box;
}

a {
   text-decoration: none;
}

a:hover {
   text-decoration: underline;
}

ul,
ol,
li {
   list-style: none;
   padding: 0;
}

img {
   vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
   font-weight: inherit;
   font-size: inherit;
}

html,
body {
   font-family: var(--font-Rosario-it);
   line-height: 1;
   margin: 0;
   padding: 0;
   font-weight: 700;
   scroll-behavior: smooth;
}

p {
   padding: 0;
   margin: 0;
}

[class*="__container"] {
   max-width: 98%;
   margin: 0 auto;
}

/* HEADER */
.header {
   background-color: var(--header-bg);
   position: sticky;
   top: 0;
   z-index: 2;
}

.header__container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0;
   max-width: 100%;
}

.header__menu-list {
   display: flex;
   margin-right: 50px;
}

.header__menu-item:not(:last-child) {
   margin-right: 50px;
}
.header__menu-link {
   font-size: 3.6rem;
   line-height: 122%;
   color: var(--link-color);
}

.header__menu-link:hover {
   text-decoration: underline;
}

/* Section GALLERY */

.gallery {
   height: 100vh;
   padding: 1% 0;
}
.gallery__container {
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: hidden;
}

.gallery__column-img {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 0 10px;
   width: 25%;
}

.gallery__column-img > img {
   width: 100%;
   margin-bottom: 25px;
}

.gallery__column-img > img:first-child,
.gallery__column-img > img:nth-child(2) {
   animation: right-to-left 3s ease 1 forwards;
}

.gallery__column-img > img:nth-child(3),
.gallery__column-img > img:last-child {
   animation: left-to-right 3s ease 1 forwards;
}

.gallery__container > img:first-child {
   width: 21.5%;
   animation: left-to-right 6s ease 1 forwards;
}

.gallery__container > img:last-child {
   width: 21.5%;
   animation: right-to-left 6s ease 1 forwards;
}

/* SECTION SERVICES */

.services {
   height: 100vh;
}
.services__container {
   display: flex;
   justify-content: space-between;
   max-width: 100%;
   padding: 0;
   padding-left: 1%;
}

.services__container > img {
   width: 49%;
}

.sevices-items {
   display: flex;
   flex-basis: 44.7%;
   flex-wrap: wrap;
   justify-content: space-between;
}
.services-item {
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 40.5%;
}

.services-item:first-child {
   animation: around-item-one 15s ease-out 0s infinite alternate-reverse;
}
.services-item:nth-child(2) {
   animation: around-item-two 15s ease-out 0s infinite alternate-reverse;
}
.services-item:nth-child(3) {
   animation: around-item-three 15s ease-out 0s infinite alternate-reverse;
}
.services-item:last-child {
   animation: around-item-four 15s ease-out 0s infinite alternate-reverse;
}

.services-icons-descr {
   font-size: 3.6em;
   line-height: 120%;
   text-align: center;
   margin-top: 1rem;
}

/* SECTION TEAM */

.team {
   height: 100vh;
   margin: 3% 0;
}

.team__title {
   font-size: 9.6rem;
   line-height: 120%;
   text-align: center;
   color: #000000;
}

.team-images {
   display: flex;
   justify-content: space-around;
}

.team-images-text {
   font-family: var(--font-Volkhov-reg);
   font-weight: 400;
   font-size: 4.8rem;
   text-align: center;
   color: #fffafa;
   background-color: rgba(163, 83, 10, 0.7);
   border-radius: 0 0 32px 40px;
   display: none;
}

.team-images > div {
   display: flex;
   flex-direction: column-reverse;
   width: 21.5%;
   height: 677px;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   transition: all 0.5s ease;
   border-radius: 40px;
}

.team-images > div:nth-child(1) {
   background-image: url(../images/team/01.png);
}
.team-images > div:nth-child(2) {
   background-image: url(../images/team/02.png);
}
.team-images > div:nth-child(3) {
   background-image: url(../images/team/03.png);
}
.team-images > div:nth-child(4) {
   background-image: url(../images/team/04.png);
}

.team-images > div:nth-child(4):hover p,
.team-images > div:nth-child(3):hover p,
.team-images > div:nth-child(2):hover p,
.team-images > div:nth-child(1):hover p {
   display: block;
   animation: img-text 250ms ease-in forwards;
}

.team-images > div:nth-child(4):hover,
.team-images > div:nth-child(3):hover,
.team-images > div:nth-child(2):hover,
.team-images > div:nth-child(1):hover {
   cursor: pointer;
   transform: scale(1.03);
}

.team-images:hover #meredith {
   filter: brightness(0.5);
}

.team-images #meredith:hover {
   filter: brightness(1);
}
.team-images:hover #jason {
   filter: brightness(0.5);
}
.team-images #jason:hover {
   filter: brightness(1);
}

.team-images:hover #ryan {
   filter: brightness(0.5);
}
.team-images #ryan:hover {
   filter: brightness(1);
}
.team-images:hover #james {
   filter: brightness(0.5);
}
.team-images #james:hover {
   filter: brightness(1);
}

/* CONTACTS */

.contacts {
   height: 100vh;
}

.contacts__container {
   display: flex;
   justify-content: center;
   align-items: flex-end;
}
.contacts__massage {
   max-width: 50%;
}
.contacnts__title {
   font-size: 6.4rem;
   line-height: 121%;
   text-align: center;
   max-width: 85%;
}

.form-contact {
   background: var(--bg-input);

   text-align: center;
   padding: 35px 0;
}


textarea {
   resize: none;
   display: inline-block;
   margin-top: 45px;
   width: 95%;
   height: 209px;
}
.map {
   flex-basis: 32%;
   margin-left: 34px;
}
.map iframe {
   width: 100%;
   height: 570px;
}

input,
textarea::placeholder {
   padding-left: 20px;
}
input,
textarea {
   outline: none;
   border: none;
   font-size: 3rem;
   line-height: 122%;
   font-weight: 700;
   color: rgba(0, 0, 0, 0.5);
}

input[name="mail"]::placeholder {
   padding-left: 40px;
}

input[name="name"] {
   width: 35%;
   height: 80px;
   margin-right: 50px;
}
input[name="mail"] {
   width: 48%;
   height: 80px;
}

/* FOoTER */

.footer {
   padding: 5% 0 2%;
}
.footer__container {
   padding: 0 0.5%;
   display: flex;
   justify-content: space-between;
}
.footer__mail {
   flex-basis: 35%;
   text-align: center;
}
.footer__mail-link {
   display: block;
   font-weight: 600;
   font-size: 2.9rem;
   line-height: 1.3;
   color: #000000;
}
.footer__hours {
   flex-basis: 35%;
   text-align: center;
}
.footer__hours-title {
   font-size: 2.9rem;
   line-height: 1.2;
   margin-bottom: 4.8rem;
   font-style: normal;
}
.footer__hours-text {
   font-size: 2.5rem;
   font-weight: 600;
}
.footer__social {
   flex-basis: 30%;
   text-align: center;
}

.footer__social-icon a img {
   margin-right: 1rem;
}

.footer__social-icon:nth-child(3) {
   padding-right: 2rem;
}
.footer__social-icon:nth-child(4) {
   padding-right: 5rem;
}

.footer__social-title {
   font-size: 2.6rem;
   line-height: 1.2;
   margin-bottom: 2rem;
}

.footer__social-icon a {
   font-size: 2.4rem;
   line-height: 1.2;
   font-weight: 600;
   color: #000;
}

.curve-icon {
   padding-right: 1rem;
}

.curve-icon img {
   margin-right: 1.5rem;
}

.curve-icon a {
   font-size: 2.4rem;
   line-height: 1.2;
   font-weight: 600;
   color: #000;
}

/* MEDIA  =============================*/
/* 
@media screen and (min-width: 1700px) {
   .team-images > div {
      --width: 22.5%;
      width: var(--width);
      height: 900px;
   }
}

@media screen and (max-width: 1550px) {
   .team-images > div {
      --width: 300px;
      width: var(--width);
      height: calc(var(--width) * 1.7);
   }
}

@media screen and (max-width: 1300px) {
   .header__container {
      justify-content: flex-start;
      gap: 50px;
   }

   .header__menu-link {
      font-size: 2.2rem;
   }
   .team-images > div {
      --width: 250px;
      width: var(--width);
      height: calc(var(--width) * 1.7);
   }

   .gallery,
   .services,
   .team,
   .contacts {
      height: 100%;
   }

   .map {
      flex-basis: 50%;
   }
   .contacts__massage {
      max-width: 40%;
   }
   .form-contact {
      padding: 10px 15px;
   }
   input[name="name"],
   input[name="mail"] {
      margin: 0;
      height: 30px;
   }
}

@media screen and (max-width: 997.98px) {
   .header {
      padding-bottom: 5px;
   }
   .header__logo {
      display: inline-block;
      width: 15%;
   }
   .header__logo img {
      width: 100%;
      height: 100%;
   }
   .header__container {
      flex-direction: column;
      gap: 5px;
   }
   .header__menu-list {
      margin: 0 auto;
   }
   .header__menu-item:not(:last-child) {
      margin-right: 20px;
   }
   .gallery {
      text-align: center;
      height: 100%;
   }
   .gallery__container {
      display: block;
   }
   .gallery__column-img {
      display: inline;
   }
   .gallery__column-img img {
      width: 39%;
   }

   .gallery__container > img:first-child,
   .gallery__column-img > img:nth-child(2),
   .gallery__column-img > img:nth-child(4) {
      animation: left-to-right 3s ease 1 forwards;
   }
   .gallery__container > img:last-child,
   .gallery__column-img > img:first-child,
   .gallery__column-img > img:nth-child(3) {
      animation: right-to-left 3s ease 1 forwards;
   }
   .services {
      height: 100%;
   }
   .services__container {
      flex-direction: row-reverse;
      padding: 0;
   }
   .sevices-items {
      justify-content: space-around;
   }

   .team__container {
      max-width: 900px;
   }
   .team-images > div {
      --width: 350px;
      width: var(--width);
      height: calc(var(--width) * 1.7);
   }
   .team-images {
      justify-content: center;
      flex-wrap: wrap;
      column-gap: 100px;
      row-gap: 30px;
   }

   .contacts__container {
      flex-direction: column;
      align-items: center;
   }
   .map {
      margin: 0;
   }
   .map iframe {
      width: 450px;
      height: 300px;
   }
   .contacts__massage {
      max-width: 90%;
      margin-bottom: 50px;
   }
   .contacnts__title {
      max-width: none;
   }
}

@media screen and (max-width: 768.98px) {
   :root {
      font-size: 6px;
   }
   .header__container {
      justify-content: center;
      max-width: 700px;
   }
   .header__logo {
      width: 20%;
   }
   .gallery {
      padding-bottom: 50px;
   }
   .gallery__container > img:first-child {
      margin-bottom: 30px;
   }
   .gallery__container > img:first-child,
   .gallery__container > img:last-child {
      width: 40%;
   }

   .gallery__column-img {
      display: block;
   }
   .gallery__column-img {
      width: 100%;
   }
   .gallery__column-img img {
      width: 50%;
   }
   .services__container {
      display: block;
   }
   .services__container > img {
      display: none;
   }
   .services-item > img {
      width: 70%;
      align-self: center;
   }

   .services-icons-descr {
      font-size: 2rem;
   }
   .contacts {
      padding-top: 50px;
   }
   .contacts__container {
      flex-direction: column-reverse;
   }
   .contacts-inputs {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
   }
   textarea {
      margin: 0;
   }
   input[name="name"],
   input[name="mail"] {
      width: 70%;
   }
   .footer__container {
      flex-direction: column;
      gap: 20px;
   }
}

@media screen and (max-width: 499.98px) {
   .header__container {
      justify-content: center;
      max-width: 320px;
   }
   .header__menu-item:not(:last-child) {
      margin-right: 0;
   }
   .header__menu-list {
      flex-wrap: wrap;
      gap: 5px;
   }
   .header__menu-link {
      font-size: 2.3rem;
   }
   .header__logo {
      width: 30%;
   }
   .team-images > div {
      --width: 300px;
      width: var(--width);
      height: calc(var(--width) * 1.7);
   }

   .map iframe {
      width: 250px;
      height: 150px;
   }
}

@media screen and (max-width: 349.98px) {
   .header__menu-list {
      margin: 0;
      padding: 0 10px;
   }

   .team-images > div {
      --width: 250px;
      width: var(--width);
      height: calc(var(--width) * 1.7);
   }
} */
