@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&family=Playfair+Display:wght@900&display=swap');






body {

   height: 100%;
   font-size: 16px;
   color: #000;
   font-weight: 500;
   font-family: 'Open Sans', sans-serif;
}

h1,h2 {
font-family: 'Playfair Display', serif;
font-weight: 900;
letter-spacing: 0.02em;
color: #0B0A05;
}

p {
   line-height: 1.5;
   letter-spacing: 0.04em;
}

a {
   text-decoration: none;
}

.__container {
      max-width: 794px;
      margin: 0 auto;}





.header__block{
margin: 87px 0px 49px 0px;
font-size: 48px;
line-height: 133%;

}

.link{

}

.link:hover{
   text-decoration: underline;
   color: #2B4AB4;
}

.text_bold{
   font-weight: 700;
   margin-bottom: 65px;
}

.text {
 color: #0B0A05;
}

.block__header {
font-size: 32px;
line-height: 134%;
}

.header_3{
   margin-top: -10px;
}

.block__header span {
   font-size: 24px;
   margin: 16px 0;
}

.list{
padding-left: 20px;
color: #284ACE;
}

.item{
   padding:0 0 10px 8px;
   color: #284ACE;
}

/* .wrapper{
   display: flex;
   flex-direction: column;
} */


.__sea {
   margin-top: 64px;
}


.number_list {
display: inline-flexbox;
padding-left: 20px;
}
.number_text {
padding: 0 0 16px 16px;
font-weight: 400;
font-size: 16px;
line-height: 1.3;
letter-spacing: 0.06em;
}

.contents{
   padding:63px 0px 0px 36px;

}

.contents_header{
font-weight: 700;
font-size: 24px;
line-height: 33px;
letter-spacing: 0.04em;
}

.contents_list{
   padding-left: 20px;
}

ol span{
   list-style: none;
}