@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins:wght@400;600;700&family=Roboto:wght@700&family=Work+Sans:wght@500;600;700&display=swap");

:root {
    font-size: 10px;
    --orange: #ffb742;
    --black: #212529;
    --font-Inter: "Inter", sans-serif;
    --font-Roboto: "Roboto", sans-serif;
    --font-Work-Sans: "Work Sans", sans-serif;
    --white: #fff;
    --bg-btn-imitate: rgba(255, 255, 255, 0.08);
    --bg-item: #292b2e;
    --text-md-color: #d5d5d5;
    --bg-icon-color: #383e45;
    --fotter-bg: #1c1c1c;
}

body {
    background-color: var(--black);
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    box-sizing: border-box;
}

body,
ul {
    padding: 0;
    margin: 0;
}
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

[class*="__container"] {
    width: 90%;
    margin: 0 auto;
}

/* ----------MODIFIER------- */

.btn__modifier {
    display: inline-block;
    color: var(--black);
    text-align: center;
    width: 121px;
    background-color: var(--orange);
    border: 2px solid var(--orange);
    padding: 10px 0;
    border-radius: 50px;
    transition: 0.4s ease;
    font-size: 1.8rem;
}

.btn__modifier:hover {
    background-color: #a1742d;
    text-decoration: underline;
    border: 2px solid #a1742d;
}

.btn-imitation-modifier {
    display: inline-block;
    font-weight: 600;
    font-size: 2rem;
    line-height: 1.5;
    text-transform: uppercase;
    color: var(--orange);
    background-color: var(--bg-btn-imitate);
    padding: 1% 4%;
    text-align: center;
    border-radius: 50px;
}

.title__modifier {
    font-family: var(--font-Roboto);
    font-size: 4.8rem;
    color: var(--white);
}

.text__moodifier {
    font-weight: 400;
    font-size: 16px;
    line-height: 188%;
    color: var(--text-md-color);
}

/* HEADER */

.header {
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.8rem;
}

.header__navigation {
    list-style: none;
    display: flex;
    justify-content: center;
    text-transform: capitalize;
}

.header__havigation-item:not(:last-child) {
    margin-right: 35px;
}

.header__navigation a {
    color: var(--white);
    font-weight: 600;
    transition: all 1s;
}

.header__navigation a:hover {
    color: var(--orange);
}

.header__navigation + div > a {
    color: var(--black);
    text-align: center;
    width: 121px;
    background-color: var(--orange);
    border: 2px solid var(--orange);
    display: inline-block;
    padding: 10px 0;
    border-radius: 50px;
    transition: 0.4s ease;
}

.header__navigation + div:hover a {
    background-color: #a1742d;
    text-decoration: underline;
    border: 2px solid #a1742d;
}

/* SECTION-----------PERFOMANCE*/

.perfomance {
    padding-bottom: 10%;
}

.performance__description {
    margin: 6% auto 8%;
    text-align: center;
}
.performance__description > div:not(:last-child) {
    font-family: var(--font-Inter);
    font-weight: 700;
    text-transform: capitalize;
    color: var(--white);
}

.performance__description > div:nth-child(1) {
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 159%;
}
.performance__description > div:nth-child(1) span {
    text-decoration-line: underline;
    color: var(--orange);
}

.performance__description > div:nth-child(2) {
    font-size: 4.8rem;
    line-height: 189%;
    margin-bottom: 2%;
}

.performance__description > div:nth-child(3) {
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 212%;
}

.performance__description-img {
    margin: 2% auto 0;
    max-width: 210px;
}

.performance__description-img img {
    width: 100%;
}

.cards-block {
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    padding: 0 2%;
}
.card-descriptions {
    text-align: center;
}
.card-wrapper {
    width: 31%;
    background-color: var(--bg-item);
    padding: 2% 0;
    align-items: center;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    transition: 1s ease 0s;
}
.card-wrapper:hover {
    background: linear-gradient(94.3deg, #ffb742 0%, rgba(255, 123, 66, 0.76) 99.33%);
    cursor: pointer;
}
.card-text {
    font-family: var(--font-Inter);
    font-size: 3.2rem;
    font-weight: bold;
    color: var(--orange);
    transition: 0.5s ease 0s;
}
.card-small-text {
    padding-top: 6%;
    font-family: var(--font-Inter);
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--white);
    transition: 0.5s ease 0s;
}
.card-wrapper:hover .card-text,
.card-wrapper:hover .card-small-text {
    color: var(--black);
}

/* ------SECTION 2  ABOUT USER------ */

.about {
}
.about__container {
    display: flex;
    justify-content: space-around;
}
.about__img {
    max-width: 550px;
}

.about__img img {
    width: 100%;
}
.about__description {
    max-width: 45%;
    margin-top: -2%;
}

.about__description > div:not(:first-child) {
    margin-left: 2%;
}
.about__description-btn-imitation {
    /* margin-bottom: 2%; */
}

.about__description-title {
    margin-bottom: 4%;
}

.about__descrption-text {
    margin-bottom: 6%;
}

.about__description-btn > .btn__modifier {
    width: 147px;
}

/* -----SECTION 3------ SOFT__SKILLS */

.skills {
    padding-top: 2%;
    padding-bottom: 8%;
}
.skiils__container {
    display: flex;
    justify-content: space-around;
}
.skills__description {
    max-width: 50%;
}

.skills__description > div:not(:first-child) {
    margin-left: 2%;
}

.skills-btn-imitation {
}

.skills__description-title {
    margin-bottom: 3%;
}

.skill__descrption-text {
    margin-bottom: 9%;
}

.skills__description-btn > a {
    width: 147px;
}

.skills__box-icon {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 562px;
    align-content: start;
}

.skill__item {
    width: 80px;
    height: 80px;
    background-color: var(--bg-icon-color);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.7s ease;
}

.skill__item:nth-child(1),
.skill__item:nth-child(2),
.skill__item:nth-child(3),
.skill__item:nth-child(4),
.skill__item:nth-child(5),
.skill__item:nth-child(6) {
    margin-bottom: 16px;
}

.skill__item:nth-child(1),
.skill__item:nth-child(2),
.skill__item:nth-child(3),
.skill__item:nth-child(4),
.skill__item:nth-child(5),
.skill__item:nth-child(7),
.skill__item:nth-child(8),
.skill__item:nth-child(9),
.skill__item:nth-child(10),
.skill__item:nth-child(11) {
    margin-right: 16px;
}

.skill__item:hover {
    background: rgba(255, 183, 66, 0.5);
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.skill__item img {
    transition: 0.7s linear;
}
.skill__item:hover img {
    transform: scale(1.2);
}

/* SECTION 4 "WORKS" */

.works {
    padding-bottom: 8%;
}

.works__description {
    text-align: center;
}

.works__btn-imatatation {
    padding: 0.5% 2%;
}

.works__navigation-list {
    display: flex;
    justify-content: center;
    margin: 3% 0;
    align-items: center;
}

.work__navigation-item {
    text-align: center;
}

.work__navigation-item:not(:last-child) {
    margin-right: 3%;
}
.work__navigation-item > a {
    display: inline-block;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 187%;
    color: var(--white);
    padding: 5px 20px;
    border-radius: 3px;
    transition: 0.3s ease-in-out;
}

.work__navigation-item > a:hover {
    background-color: var(--orange);
    color: var(--black);
    text-decoration: underline;
    transform: scale(1.2);
}

.works__img-wrapper {
    display: flex;
    justify-content: center;
}

.works__img-column {
    max-width: 25%;
}

.works__img-column:first-child {
    margin-right: 24px;
}
.works__img-column:nth-child(2) {
    margin-right: 39px;
}

.works__img-column img {
    border-radius: 5.2px;
    width: 100%;
}

.works__img-column img:not(:last-child) {
    margin-bottom: 7%;
}

/* ----testimonials  SECTION-5----*/

.testimonials {
    padding-bottom: 250px;
}
.testimonials__container {
}
.testimonials__descr {
    text-align: center;
    margin-bottom: 5%;
}
.testimonials-btn-imitate {
    margin-bottom: 0.7%;
    padding: 0.5% 2%;
}

.testimonials-cards {
    display: flex;
    justify-content: center;
}
.testimonials-item {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    background-color: var(--white);
    max-width: 293px;
    padding: 52px 52px 48px 33px;
    transition: 0.5s;
}

.testimonials-item:not(:last-child) {
    margin-right: 40px;
}

.testimonials-item:hover {
    cursor: pointer;
    transform: translateY(20px);
}

.testimonials-stars img:not(:last-child) {
    margin-right: 9px;
}
.testimonials-item__text {
    font-weight: 400;
    font-size: 2rem;
    line-height: 170%;
    color: #000000;
    text-align: left;
}
.testimonials-item-user {
    display: flex;
}
.item-user-info {
    margin-left: 24px;
}

.item-user-info strong {
    font-size: 2rem;
    line-height: 1.7;
    color: #000000;
}

.item-user-info span {
    display: block;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 212%;
    color: #000000;
}

/* F O O T E R */

.footer {
    font-family: var(--font-Work-Sans);
    background-color: var(--fotter-bg);
    padding: 150px 0 90px;
}
.footer__container {
    display: flex;
    justify-content: space-between;
}
.footer-user {
    max-width: 254px;
}
.footer-user-name {
    font-family: "Poppins";
    font-size: 3.2rem;
    line-height: 100%;
    color: var(--orange);
    margin-bottom: 30px;
}
.footer-user-descrp {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 202%;
    color: #d4d4d4;
}
.footer-list {
}
.footer-list-title {
    font-size: 2.1rem;
    line-height: 148%;
    color: #f5fbf2;
    margin-bottom: 15px;
}
.footer-list-item {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 202%;
    color: #7b7b7b;
}
.footer-list-item a {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 202%;
    color: #7b7b7b;
    transition: 1s ease;
}
.footer-list-item a:hover {
    color: var(--white);
    text-decoration: underline;
}

.footer__container > div:nth-child(4) {
    max-width: 319px;
}
