@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500;700&display=swap");

:root {
   --font-Public-sans: "Public Sans", sans-serif;
   --bg-container: #e5e5e5;
}

hr {
   margin-top: 27px;
}

body {
   font-family: var(--font-Public-sans);
   box-sizing: border-box;
   font-weight: 500;
}

.container {
   max-width: 820px;
   margin: 0 auto;
   padding: 60px 45px 110px;
   background-color: var(--bg-container);
}

h1 {
   margin: 0 0 80px;
}

h2 {
   margin: 40px 0 32px;
}

span {
   color: #d83933;
}

label,
input,
select {
   display: block;
}
input,
select {
   /* height: 40px; */
   width: 392px;
   margin: 8px 0 20px;
   outline: none;
   border: 1px solid #adadad;
   border-radius: 4px;
   padding: 9px 10px 9px 10px;
}

input {
   width: 372px;
}

.information {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}
.left-column,
.rigth-column {
   flex-basis: 392px;
}

.rigth-column label:nth-child(4) {
   margin-bottom: 133px;
}
.rigth-column label:nth-child(6) {
   margin-top: 30px;
}

/* select {
   appearance: none;
   overflow: hidden;
   background: url('../img/arrow-select.svg') no-repeat;
   background-position: bottom 5px right 10px;
 } */

input[id="t-b"] {
   color: #0050d8;
}
.check {
   display: flex;
   align-items: center;
   gap: 8px;
   max-width: 392px;
}
input[id="check"] {
   width: 24px;
   height: 24px;
   margin: 0;
   accent-color: #ff00ff;
}

.search {
   position: relative;
}

.search::before {
   content: "";
   position: absolute;
   top: 33px;
   right: 33px;
   background: url(../img/search.svg);
   background-size: cover;
   background-repeat: no-repeat;
   width: 24px;
   height: 24px;
}

input[type="search"] {
   width: 397px;
}

input[id="raja"] {
   color: #0050d8;
}

input[type="button"] {
   background: #0050d8;
   border-radius: 4px;
   float: right;
   color: #fff;
   max-width: 70px;
   cursor: pointer;
}
